* {
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    background-color: rgb(26, 26, 26);
}


h1 {
    color: whitesmoke;
    text-shadow: 1px 1px 2px #ffffff;
}
h2, h3, p {
    color: wheat;
}
a {
    text-decoration: none;
    color: skyblue;
    cursor: pointer;
}


.wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    width: 1268px;
    height: 100%;
    min-height: 1100px;
}

.block {
    display: block;
    min-width: 768px;
    background: rgb(94, 94, 94);
    /* background: rgb(245, 245, 245); */
    padding: 15px 35px;
    margin: 15px 5px;
}




.app.cats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.card {
    background: rgb(216, 216, 216);
    /* border: 1px solid #acacac; */
    margin: 14px 5px;
    box-shadow: 0px 0px 8px dimgrey;
    cursor: pointer;
}
.card:hover {
    box-shadow: 5px 7px 8px grey;
}
img.thumb {
    width: 200px;
    height: 150px;
}
p.size,
p.desc {
    font-family: cursive;
    font-size: 14px;
    padding: 0px 10px 10px;
    margin: 0;
    color: #4b4b4b;
}




